{% extends 'base.html' %} {% block contents %} {% load staticfiles %}
<div class="container">
  {% for portfolio in portfolios.all %}
  <div class="card" style="width: 18rem;">
    <img src="{% static '1.jpg' %}" class="card-img-top" height="200" />
    <div class="card-body">
      <h5 class="card-title">static file</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ portfolio.image.url }}" class="card-img-top" height="200" />
    <div class="card-body">
      <h5 class="card-title">{{ portfolio.title }}</h5>
      <p class="card-text">{{ portfolio.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
